In [1]:
magicNumber = 26

for n in range(101):
    if n is magicNumber:
        print(n, "is the Magic Number!")
        break
    else:
        print(n)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26 is the Magic Number!

In [2]:
kart = list(range(1,101))
print (kart)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [3]:
kart [::-1]

[100,
 99,
 98,
 97,
 96,
 95,
 94,
 93,
 92,
 91,
 90,
 89,
 88,
 87,
 86,
 85,
 84,
 83,
 82,
 81,
 80,
 79,
 78,
 77,
 76,
 75,
 74,
 73,
 72,
 71,
 70,
 69,
 68,
 67,
 66,
 65,
 64,
 63,
 62,
 61,
 60,
 59,
 58,
 57,
 56,
 55,
 54,
 53,
 52,
 51,
 50,
 49,
 48,
 47,
 46,
 45,
 44,
 43,
 42,
 41,
 40,
 39,
 38,
 37,
 36,
 35,
 34,
 33,
 32,
 31,
 30,
 29,
 28,
 27,
 26,
 25,
 24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1]

In [4]:
kart [::+5]

[1, 6, 11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61, 66, 71, 76, 81, 86, 91, 96]

In [5]:
kart [::-5]

[100,
 95,
 90,
 85,
 80,
 75,
 70,
 65,
 60,
 55,
 50,
 45,
 40,
 35,
 30,
 25,
 20,
 15,
 10,
 5]

In [6]:
kart[-1:-7]

[]

In [7]:
kart[-1::-7]

[100, 93, 86, 79, 72, 65, 58, 51, 44, 37, 30, 23, 16, 9, 2]

In [8]:
kart[-1::+7]

[100]

In [9]:
kart[-10::+5]

[91, 96]

In [10]:
kart

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [11]:
kart.append(800)

In [12]:
kart

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 800]

In [14]:
kart.remove(800)

In [15]:
kart

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [16]:
del kart[0:3]

In [17]:
kart

[4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [18]:
# Concatenating objects of different datatypes - separate using comma
print (9, "Bucky")

9 Bucky

In [19]:
# + operand unsuitable for concatenating different datatypes
print (9 + "Bucky")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [21]:
# print all multiples of 4 from 1 to 100

for i in range(101):
    if i % 4 == 0:
        print (i)

0
4
8
12
16
20
24
28
32
36
40
44
48
52
56
60
64
68
72
76
80
84
88
92
96
100

In [22]:
kart[::10]

[4, 14, 24, 34, 44, 54, 64, 74, 84, 94]

In [23]:
print ([1,2,3] + kart)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [27]:
numbersTaken = [2,5,12,13,17]
print("Here are the numbers still available:")

for i in range(1,20):
    if i in numbersTaken:
        continue
    print(i)

Here are the numbers still available:
1
3
4
6
7
8
9
10
11
14
15
16
18
19

In [28]:
kart

[4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [29]:
kart.pop(-1)   # Retrieves item at index -1 and also Removes it

100

In [34]:
kart.pop(-10)   # Retrieves item at index -10 and also Removes it

90

In [35]:
kart.reverse()

In [36]:
kart   # Now 100 and 90 removed from list

[99,
 98,
 97,
 96,
 95,
 94,
 93,
 92,
 91,
 89,
 88,
 87,
 86,
 85,
 84,
 83,
 82,
 81,
 80,
 79,
 78,
 77,
 76,
 75,
 74,
 73,
 72,
 71,
 70,
 69,
 68,
 67,
 66,
 65,
 64,
 63,
 62,
 61,
 60,
 59,
 58,
 57,
 56,
 55,
 54,
 53,
 52,
 51,
 50,
 49,
 48,
 47,
 46,
 45,
 44,
 43,
 42,
 41,
 40,
 39,
 38,
 37,
 36,
 35,
 34,
 33,
 32,
 31,
 30,
 29,
 28,
 27,
 26,
 25,
 24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4]

In [100]:
Kart2 = [35, "Love", 34.0, i+7j]

In [40]:
Kart2

[35, 'Love', 34.0, (19+7j)]

In [41]:
kart.extend(Kart2)

In [42]:
kart

[99,
 98,
 97,
 96,
 95,
 94,
 93,
 92,
 91,
 89,
 88,
 87,
 86,
 85,
 84,
 83,
 82,
 81,
 80,
 79,
 78,
 77,
 76,
 75,
 74,
 73,
 72,
 71,
 70,
 69,
 68,
 67,
 66,
 65,
 64,
 63,
 62,
 61,
 60,
 59,
 58,
 57,
 56,
 55,
 54,
 53,
 52,
 51,
 50,
 49,
 48,
 47,
 46,
 45,
 44,
 43,
 42,
 41,
 40,
 39,
 38,
 37,
 36,
 35,
 34,
 33,
 32,
 31,
 30,
 29,
 28,
 27,
 26,
 25,
 24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 35,
 'Love',
 34.0,
 (19+7j),
 35,
 'Love',
 34.0,
 (19+7j),
 35,
 'Love',
 34.0,
 (19+7j)]

In [45]:
#the count function gives the total number of occurences of argument in list
kart.count(3)

0

In [46]:
kart.count(10)

1

In [47]:
kart.count(1)

0

In [48]:
kart.count('Love')

3

In [49]:
#length of kart list
len(kart)

107

In [50]:
max(kart)

TypeError: '>' not supported between instances of 'str' and 'int'

In [51]:
min(kart)

TypeError: '<' not supported between instances of 'str' and 'int'

In [52]:
Yankees = [2,5.50,108,2030,12,34,67,11,91,131]

In [53]:
Yankees

[2, 5.5, 108, 2030, 12, 34, 67, 11, 91, 131]

In [56]:
float in Yankees

False

In [57]:
2030 in Yankees

True

In [60]:
max(Yankees)

2030

In [61]:
min(Yankees)

2

In [63]:
Yankees.insert(40) # Need to specify the index at which value needs to be inserted.

TypeError: insert() takes exactly 2 arguments (1 given)

In [65]:
#insert command inserts input at stated index .insert(index,value)
Yankees.insert(40,11)

In [66]:
Yankees

[2, 5.5, 108, 2030, 12, 34, 67, 11, 91, 131, 11]

In [67]:
Yankees.insert(7,90)

In [68]:
Yankees

[2, 5.5, 108, 2030, 12, 34, 67, 90, 11, 91, 131, 11]

In [64]:
Yankees.index(12[, 1[, 9]])

SyntaxError: invalid syntax (<ipython-input-64-3ad46b1ed833>, line 1)

In [69]:
34 in kart

True

In [70]:
1000 in kart

False

In [72]:
kart, float

([99,
  98,
  97,
  96,
  95,
  94,
  93,
  92,
  91,
  89,
  88,
  87,
  86,
  85,
  84,
  83,
  82,
  81,
  80,
  79,
  78,
  77,
  76,
  75,
  74,
  73,
  72,
  71,
  70,
  69,
  68,
  67,
  66,
  65,
  64,
  63,
  62,
  61,
  60,
  59,
  58,
  57,
  56,
  55,
  54,
  53,
  52,
  51,
  50,
  49,
  48,
  47,
  46,
  45,
  44,
  43,
  42,
  41,
  40,
  39,
  38,
  37,
  36,
  35,
  34,
  33,
  32,
  31,
  30,
  29,
  28,
  27,
  26,
  25,
  24,
  23,
  22,
  21,
  20,
  19,
  18,
  17,
  16,
  15,
  14,
  13,
  12,
  11,
  10,
  9,
  8,
  7,
  6,
  5,
  4,
  35,
  'Love',
  34.0,
  (19+7j),
  35,
  'Love',
  34.0,
  (19+7j),
  35,
  'Love',
  34.0,
  (19+7j)],
 float)

In [74]:
"Love" in Yankees

False

In [75]:
"Love" not in Yankees

True

In [76]:
5.5 in Yankees

True

In [78]:
greeting = "Hello"
print (greeting[1]) # Returns the character in index 1

e

In [79]:
len(Yankees) # Returns the length of the list

12

In [80]:
Yankees

[2, 5.5, 108, 2030, 12, 34, 67, 90, 11, 91, 131, 11]

In [82]:
Falcon = [[]]

In [83]:
Falcon[0].append(80)

In [84]:
Falcon

[[80]]

In [87]:
Falcon = [[] for i in range(4)]
Falcon[1].append(70)
Falcon[2].append(40)
Falcon[3].append(100)

In [88]:
Falcon

[[], [70], [40], [100]]

In [89]:
Bytes = ['Snacks', 'Tipitip', 'Rusk', 'Snickers', 'Mars', 'Chicken 65']

In [90]:
Bytes

['Snacks', 'Tipitip', 'Rusk', 'Snickers', 'Mars', 'Chicken 65']

In [94]:
# Shows index of item in slice
Bytes[1:5].index('Snickers')

2

In [95]:
Bytes[len(Bytes):len(Bytes)]

[]

In [97]:
Bytes[len(Bytes):len(Bytes)] = 'Toblerone'

In [98]:
Bytes

['Snacks',
 'Tipitip',
 'Rusk',
 'Snickers',
 'Mars',
 'Chicken 65',
 'T',
 'o',
 'b',
 'l',
 'e',
 'r',
 'o',
 'n',
 'e']

In [96]:
Bytes.copy() #Creates copy of list

['Snacks', 'Tipitip', 'Rusk', 'Snickers', 'Mars', 'Chicken 65']

In [101]:
Bytes *= 3

In [102]:
Bytes

['Snacks',
 'Tipitip',
 'Rusk',
 'Snickers',
 'Mars',
 'Chicken 65',
 'T',
 'o',
 'b',
 'l',
 'e',
 'r',
 'o',
 'n',
 'e',
 'Snacks',
 'Tipitip',
 'Rusk',
 'Snickers',
 'Mars',
 'Chicken 65',
 'T',
 'o',
 'b',
 'l',
 'e',
 'r',
 'o',
 'n',
 'e',
 'Snacks',
 'Tipitip',
 'Rusk',
 'Snickers',
 'Mars',
 'Chicken 65',
 'T',
 'o',
 'b',
 'l',
 'e',
 'r',
 'o',
 'n',
 'e']

In [ ]:
Sort(str)