In [1]:
2+3

5

In [48]:
-25.5 % 2.25 # How is this answer possible????

1.5

In [4]:
-4/2

-2.0

In [5]:
-4%2

0

In [6]:
str = 'International'

In [7]:
str.find('rnati')  # To find a part of a string - gives the starting index of that section

4

In [8]:
str.replace('national','competition')

'Intercompetition'

In [9]:
len(str) # to find the length of a string

13

In [29]:
str[0:7]

'Interna'

In [30]:
str[0:7].count('a') # To count a string within a specified section

1

In [31]:
str.count('a',0,7)  # To count a string within a specified section

1

In [38]:
a = list(range (50))

In [39]:
a

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [41]:
a[0:-10]

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39]

In [42]:
a[::-10]

[49, 39, 29, 19, 9]

In [44]:
a[:-10]

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39]

In [7]:
x = list(range(1,11))
for i in range(0,4):
    x[i:-3+i if -3+i != 0 else None]

i

3

In [45]:
a[::-1]

[49,
 48,
 47,
 46,
 45,
 44,
 43,
 42,
 41,
 40,
 39,
 38,
 37,
 36,
 35,
 34,
 33,
 32,
 31,
 30,
 29,
 28,
 27,
 26,
 25,
 24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1,
 0]

In [49]:
str

'International'

In [50]:
str.upper() # To uppercase the whole string

'INTERNATIONAL'

In [56]:
str[0:5].upper() # To uppercase a portion of the string

'INTER'

In [57]:
str.lower() # To lowercase the whole string

'international'

In [58]:
min(str)

'I'

In [59]:
max(str)

't'

In [60]:
str.isalpha() # Checks if str has alphabet. There are so many is... functions to check.

True

In [62]:
str.isspace()

False

In [63]:
str.isalnum()

True